Repository lablup/raftify, pull requests merged in 2024-10, with the labels that each got.

#128 feat: Disallow to overwrite compacted raft logs
  raftify/src/storage/heed_storage/mod.rs
Labels: feature, improvement, log-storage, test

#139 feat: Support TLS config
  Cargo.lock
  Cargo.toml
  examples/Cargo.toml
  examples/memstore/Cargo.toml
  examples/memstore/dynamic-members/src/main.rs
  examples/memstore/src/client/main.rs
  examples/memstore/static-members/Cargo.toml
  examples/memstore/static-members/src/main.rs
  examples/src/config.rs
  harness/src/config.rs
  harness/src/raft.rs
  raftify-cli/Cargo.lock
  raftify-cli/Cargo.toml
  raftify-cli/src/commands/debug.rs
  raftify/Cargo.toml
  raftify/src/config.rs
  raftify/src/error.rs
  raftify/src/lib.rs
  raftify/src/peer.rs
  raftify/src/peers.rs
  raftify/src/raft_bootstrapper.rs
  raftify/src/raft_client.rs
  raftify/src/raft_node/mod.rs
  raftify/src/raft_server.rs
  raftify/src/storage/heed_storage/mod.rs
Labels: feature, refactoring

#146 feat: Implement Test Runner workflow for Windows
  .github/workflows/test.yml
  binding/python/examples/main.py
  binding/python/requirements.txt
  examples/src/config.rs
Labels: test, ci

#148 feat: Add code lint, formatting check in CI
  .github/workflows/test.yml
  raftify/src/storage/rocksdb_storage/mod.rs
Labels: ci

#151 feat: Pretty print persisted log entries in CLI
  Cargo.lock
  raftify-cli/Cargo.lock
  raftify-cli/Cargo.toml
  raftify-cli/src/commands/debug.rs
  raftify-cli/src/mod.rs
Labels: feature, log-storage, cli

#157 feat: Implement integration test parallel execution
  .gitignore
  Cargo.lock
  Makefile
  harness/Cargo.toml
  harness/fixtures/1-node-example.toml
  harness/fixtures/3-node-example.toml
  harness/fixtures/5-node-example.toml
  harness/src/config.rs
  harness/src/constant.rs
  harness/src/lib.rs
  harness/src/logger.rs
  harness/src/raft.rs
  harness/src/test_environment.rs
  harness/src/utils.rs
  harness/tests/bootstrap.rs
  harness/tests/data_replication.rs
  harness/tests/leader_election.rs
  raftify-cli/src/mod.rs
Labels: test

#159 feat: Implement metadata pretty print
  examples/memstore/Makefile
  raftify-cli/src/commands/debug.rs
Labels: feature, cli

#161 feat: Define custom `raftify-cli` --version command
  Cargo.lock
  raftify-cli/Cargo.lock
  raftify-cli/Cargo.toml
  raftify-cli/build.rs
  raftify-cli/src/mod.rs
Labels: good first issue, cli, ossca-24

#168 refactor: Replace `debug` commands with `describe` commands
  Cargo.lock
  Cargo.toml
  README.md
  examples/memstore/Cargo.toml
  raftify-cli/Cargo.lock
  raftify-cli/Cargo.toml
  raftify-cli/build.rs
  raftify-cli/src/commands/describe.rs
  raftify-cli/src/commands/mod.rs
  raftify-cli/src/mod.rs
Labels: refactoring, cli
